* {
  font-family: 'Press_Start_2P';
}

body {
  /* background-image: url('path_to_background_image.png'); */
  background-size: cover;
  font-family: 'PixelFont', sans-serif;
  text-align: center;
}

@keyframes animateCharacter {
  0% {
      background-position: 0px;
  }
  33% {
      background-position: -100px;
  }
  66% {
      background-position: -200px;
  }
  100% {
      background-position: 0px;
  }
}
