:root {
  --block-size: 5vh;
}

.cell.cloaked {
  background-image: none;
  animation: fadeInPeek 2s forwards;
}
.cell.peek {
  opacity: 0.7;
  animation: fadeInPeek 2s forwards;
}

.swamp {
  background-image: url('../graphics/tile-swamp-1.png');
}

.cell.diamond {
  background-image: url('../graphics/gem.png');
}

.desert {
  background-image: url('../graphics/tile-desert-1.png');
}

.forest {
  background-image: url('../graphics/tile-forest-1.png');
}

.mountain {
  background-image: url('../graphics/tile-mountain-1.png');
}

.player {
  background-image: url('../graphics/sword.jpeg');
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameView.gameon {
  display: grid;
  grid-template-rows: 10% 90%;
}

#screen {
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, var(--block-size));
  grid-template-rows: repeat(15, var(--block-size));
  height: calc(var(--block-size)*15);
  width: calc(var(--block-size)*15);
  gap: 0px;
  background-color: black;
}

.cell {
  width: var(--block-size);
  height: var(--block-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-size: cover;
}

.topbar {
  color: white;
  font-family: 'Press_Start_2P';
  font-size: 2vh;
}

.health {
  float: left;
  text-align: left;
}

.topbar > .damage {
  float: right;
  text-align: right;
}

#player-health {
  margin: 1vh;
}

.overlay-content #message {
  color: maroon;
  width: 40%;
  line-height: 1.5;
  margin-top: 25px;
}

.overlay-content #actions {
  margin-top: 5vh;
  width: 40%;
}

.overlay-content .button {
  padding: 15px;
  width: auto;
}

.overlay-content {
  display: none;
  position: absolute;
  padding-top: 20vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  color: maroon;
  font-size: 0.8rem;
  z-index: 10;
  /* padding: 20px; */
  box-sizing: border-box;
  overflow: auto;
}

/* Sample styling if you wish to have a centered message */
.overlay-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: calc(var(--block-size) * 15 * .9);
  margin: auto;
  background-image: url('../graphics/message-bg.png');
  background-size: contain;
}


#msgBoard {
  animation: fadeInEffect 2s forwards;
}
