:root {
  --block-size: 5vh;
}

.cell.cloaked {
  background-image: none;
}

.swamp {
  background-image: url('../graphics/tile-swamp-1.png');
}

.cell.diamond {
  background-image: url('../graphics/gem.png');
}

.desert {
  background-image: url('../graphics/tile-desert-1.png');
}

.forest {
  background-image: url('../graphics/tile-forest-1.png');
}

.mountain {
  background-image: url('../graphics/tile-mountain-1.png');
}

.player {
  background-image: url('../graphics/sword.jpeg');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: black; */
}

#gameView.gameon {
  display: grid;
  grid-template-rows: 10% 90%;
}

#screen {
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, var(--block-size));
  grid-template-rows: repeat(15, var(--block-size));
  gap: 0px;
  /* background-color: black; */
}

.cell {
  width: var(--block-size);
  height: var(--block-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-size: cover;
}

.wall {
  background: darkblue;
}

.player {
  width: var(--block-size);
  height: var(--block-size);
  justify-content: center;
  align-items: center;
  margin: auto;
  background-size: cover;
}

.topbar {
  color: white;
  font-family: 'Press_Start_2P';
  font-size: 2vh;
}

.health {
  float: left;
  text-align: left;
}

.topbar > .damage {
  float: right;
  text-align: right;
}

#player-health {
  margin: 1vh;
}